<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gouveiarocha.estudoskotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAulasKotlin">
        <activity android:name=".Curso_UdemyKotlin2022.apps.GastoViagem.AppGastoViagem"></activity>
        <activity android:name=".Curso_UdemyKotlin2022.estudos.Secao20_Elementos.EstudoElementos1" />
        <activity android:name=".Curso_UdemyKotlin2022.estudos.Secao19_LinearLayout.EstudoLinearLayout" />
        <activity android:name=".Paralelos.Estudos.LoginMVP.activitys.LoginMVP_HomeActvity" />
        <activity android:name=".Paralelos.Estudos.ActForResult.SecondScreen" />
        <activity android:name=".Paralelos.Estudos.ActForResult.FirstScreen" />
        <activity android:name=".Paralelos.Estudos.LoginMVP.activitys.LoginMVP_LoginActivity" />
        <activity android:name=".Curso_UdemyKotlin2022.estudos.MVVM.MVVM" />
        <activity android:name=".Curso_UdemyKotlin2022.estudos.APIRetrofit.APIRetrofit" />
        <activity android:name=".Paralelos.Apps.Jokenpo.AppJokenpo" />
        <activity android:name=".AcitivtysPrincipais.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>