<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appaulaskotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAulasKotlin">
        <activity android:name=".ActsEstudos.LoginMVP.LoginMVP"></activity>
        <activity android:name=".ActsEstudos.MVVM.MVVM" />
        <activity android:name=".ActsEstudos.APIRetrofit.APIRetrofit" />
        <activity android:name=".ActsApps.AppJokenpo" />
        <activity android:name=".ActsPrincipais.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>